@model IEnumerable<ShopOnlineConection.NhaSanXuat>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hãng Thời Trang</a>
    <div class="dropdown-menu mega-menu">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <ul class="mega-menu-links">
                    @foreach (var @item in Model)
                    {
                    <li><a href="@Url.Action("Index","NhaSanXuat",new {id = item.MaNhaSanXuat } )">@item.TenNhaSanXuat </a></li>
                  
                    }
                </ul>
            </div>
            @*<div class="col-md-6 col-sm-6">
                    <ul class="mega-menu-links">
                        <li><a href="productgird.html">New Collection</a></li>
                        <li><a href="productgird.html">Shirts & tops</a></li>
                        <li><a href="productgird.html">Laptop & Brie</a></li>
                        <li><a href="productgird.html">Dresses</a></li>
                        <li><a href="productgird.html">Blazers & Jackets</a></li>
                        <li><a href="productgird.html">Shoulder Bags</a></li>
                    </ul>
                </div>*@
        </div>
    </div>
</li>
